@model IEnumerable<EstoqueDotNet.Data.Entidade.Caixa>

@{
    ViewBag.Title = "Listando";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar novo caixa", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.em_caixa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
 
        <td>
            @Html.DisplayFor(modelItem => item.em_caixa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.id_caixa  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.id_caixa }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.id_caixa  })
        </td>
    </tr>
}

</table>
