@model IEnumerable<EstoqueDotNet.Data.Entidade.Saida>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_saida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.caixa_id_caixa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.produtos_id_produtos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qtd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_saida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caixa_id_caixa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.produtos_id_produtos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qtd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.id_saida  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.id_saida }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.id_saida  })
        </td>
    </tr>
}

</table>
