@model EstoqueDotNet.Data.Entidade.Produto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Deseja mesmo deletar isso?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.id_produtos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_venda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_venda)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
